.app {


    &__page {
        display: flex;
        overflow: hidden;
        margin-top: 70px;
    }

    img,
    svg {
        display: block;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .link-react-router-dom {
        text-decoration: none;
        display: block;

        @include desktop {
            // width: 25%;
        }

    }

    .detailPage {
        @include iphone {
            display: unset;
        }

    }

    .MuiButton-root {
        padding: 0;
        min-width: 0px;
    }

    .MuiButton-text {
        padding: 0;
    }
}