.sidebar {
  flex: 0.2;
  width: 20%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  position: fixed;
  top: 70px;

  left: 0;
  z-index: 10;
  padding-bottom: 60px;

  @include pad {
    position: fixed;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.5s;
  }

  & > hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  & > h4 {
    color: gray;
    font-size: 13px;
    padding: 10px 20px;
  }

  &__footer {
    padding: 0 20px;
  }

  & a {
    font-size: 12px;

    font-weight: bold;
    color: lightgray;

    & + a {
      margin-left: 10px;
    }
  }

  &__terms {
    margin-top: 15px;
  }

  &__copyRight {
    margin-top: auto;
    padding: 20px;
    color: #444545;
    font-size: 12px;
  }
}

// sidebar-row components
.sidebar-row {
  display: flex;
  align-items: center;
  padding: 10px 20px;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  &:hover > &__icon {
    color: red;
  }

  &:hover > &__title {
    font-weight: bold;
  }

  &__icon {
    color: #606060;
    font-size: 25px !important;
  }

  &__title {
    flex: 1;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
  }
}

.selected {
  background-color: lightgray;

  & > .sidebar-row__icon {
    color: red;
  }

  & > .sidebar-row__title {
    font-weight: bold;
  }
}

.sidebarActive {
  transform: translate(0%);
  // display: block;
}

.detailPage .sidebar {
  display: none;
}
