.videoDetail {
    background-color: #f9f9f9 !important;
    flex: .7;

    @include pad {
        flex: 1;
        margin-top: 40px;
    }

    @include iphone {
        margin-top: 70px;
    }

    & .MuiGrid-spacing-xs-10>.MuiGrid-item {
        padding-top: 0px !important;
    }

    &__video {
        width: 100%;
        margin-top: 20px;
        height: 400px;
        padding: 0 20px 20px 20px;

        @include iphone {
            height: 270px;
            padding: 0;
            margin-top: 0;
        }
    }

    &__info {
        background-color: #f9f9f9 !important;
        padding: 20px;
        margin-top: 10px;

        @include iphone {
            padding: 5px;
        }

        &>h4 {
            font-size: 25px;
            margin-bottom: 1rem;

            @include iphone {
                font-size: 20px;
            }
        }

        &>hr {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }

    &__channel-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;

        &>button {
            cursor: pointer;
            outline: none;
            margin-right: 0.5rem;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            background-color: #c00;
            border: none;
            border-radius: 2px;
            padding: 10px 15px 10px 15px;
        }
    }

    &__description {
        max-width: 400px;
    }

    &__publisher {
        font-size: 15px !important;
        font-weight: bold !important;
    }
}